@media only screen and (max-width:500px){
  .imgResponsive{
    margin-left:120px;
  }
}    
@media only screen and (max-width:375px){
  .imgResponsive{
    margin-left:80px;
    width:180px !important;
    height:180px !important ;
  }
}    

@media only screen and (max-width:275px){
    .imgResponsive{
        margin-left:70px;
        width:150px !important;
        height:150px !important ;
    }
    .smallImg{
        display: none !important;
    }
}    