.heroSectionWrap {
  margin-bottom: 30px;
  /* background-color: #1eaaf1;
  color: #fff; */
}
.heroCard {
  width: 320px;
  text-align: center;
  height: 250px;
  padding:10px 50px;
  margin:0 auto;
  color:#fff

}

.iconWrap {
  width: 130px;
  height: 130px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  color:#1EAAF1;
  margin: 0 auto;
  position: relative;
  margin-top: -70px;
  z-index: 99;
}


@media only screen and (max-width:1068px){
  .heroCard {
    width: 100%;
    margin-top:20px;
}
}